/*//////////////////////////////////////////////////
//                                                //
//               Header styling                   //
//                                                //
//////////////////////////////////////////////////*/
.app-header, h1, h2, h3, p, a {
    font-family: "Open Sans", sans-serif;
}

.app-header {
    background-color: #FF3B3B;
    padding: 20px 0 16px;
    margin-bottom: 30px;
}

.logo {
    font-size: 28px !important;
}

.input-field {
    border-radius: 10px;
    border: none;
    min-width: 400px;
    margin-bottom: 10px
    height: 40px;
    padding: 12px 20px;
}


/*//////////////////////////////////////////////////
//                                                //
//              General styling                   //
//                                                //
//////////////////////////////////////////////////*/

a {
    text-decoration: none !important;
    color: #82837E;
}

h1, h3, p {
    color: #82837E;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}





.current-price {
    font-size: 24px;
}

.discount-price {
    color: #FF3B3B !important;
}

.no-price {
    font-size: 18px;
}

.product-img {
    overflow: hidden;
    margin-bottom: 15px;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.content-block {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content-block a {
    color: #82837E;
}

.product-info-block {
    height: 350px;
}

.store-name {
    display: block;
    margin-top: 5px;
}

.bg {
    background-color: #F9F9F9 !important;
}

.small-text {
    font-size: 9pt;
}

.btn-small {
    display: inline-block;
    background-color: #FF3B3B !important;
    color: white !important;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;


    border-radius: 5px;
    border: none;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-small:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

.btn-small:active {
    background-color: #9b2d1f;
    transform: translateY(0);
}


/* Only for mobile */
@media only screen and (max-width: 1200px) {

    h2 {
        font-size: 80px;
        font-weight: bold;
    }

    .current-price {
        font-size: 70px;
    }

    .discount-price {
        color: red !important;
    }

    p {
        font-size: 40px;
        margin-bottom: 0px;
    }
}