{% include "header.html" %}

{% block content %}
<div class="container">
    <div class="row pt-4">
        <div class="col-12">
            {% if products %}
                <h2>Producten</h2>
                <div class="row pt-3">
                {% for product in products %}

                    <div class="col-lg-3 col-12">
                        <div class="content-block p-4">
                             <a href="{{ product.product_url }}">
                            <div class="product-img">
                                {% if product.img_url %}
                                <img src="{{ product.img_url }}" alt="{{ product.product_name }}">
                                {% else %}
                                <img src="/media/product_imgs/default_product.webp" alt="{{ product.product_name }}">
                                {% endif %}
                            </div>

                                {{ product.product_name }}
                            </a><br/>
                            {% if product.is_discounted %}
                            <span class="price" style="padding-right: 10px;"><s>{{ product.previous_price }}</s></span>
                            <b><span class="current-price discount-price">{{ product.current_price }}</span></b><br/>
                            {% else %}
                            <b><span class="current-price">{{ product.current_price }}</span></b><br/>
                            {% endif %}

                            {{ product.store_name }}<br/>
                        </div>
                    </div>

                {% endfor %}
                </div>
            {% else %}
            <div class="content-block">
                <p>No results.</p>
                <p><a href="/">Go back</a></p>
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}



