{% include "header.html" %}

{% block content %}
<div class="container">
    <div class="row pt-4">
        <div class="col-12">
            {% if products %}
                <h2>Products</h2>
                <div class="row pt-3">
                {% for product in products %}

                    <div class="col-lg-3 col-12">
                        <div class="content-block p-4">git
                             <a href="{{ product.product_url }}">
                            <div class="product-img">
                                <img src="/media/product_imgs/default_product.webp" alt="Default Product">
                            </div>

                                {{ product.product_name }}
                            </a><br/>
                            <b><span class="price">{{ product.price }}</span></b><br/>
                            {{ product.store_name }}<br/>
                        </div>
                    </div>

                {% endfor %}
                </div>
            {% else %}
            <div class="content-block">
                <p>No results.</p>
                <p><a href="/">Go back</a></p>
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}



